<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
           <mat-icon>local_movies</mat-icon> E-Kino
           </a>
    </span>
    <div>
       <a mat-button routerLink="film/film-filter"><mat-icon>search</mat-icon>Pretraga filmova</a>
   </div>
    <div>
        <a mat-button routerLink="zanrovi">Zanrovi</a>
    </div>
   
    <div>
       <a mat-button routerLink="film">Filmovi</a>
   </div>
    
   <div>
    <a mat-button routerLink="kina">Kina</a>
</div>
   
  
   
   <div>
       <a mat-button routerLink="glumci">Glumci</a>
   </div>

   <div>
    <a mat-button routerLink="eventi">Eventi</a>
</div>

<div>
    <a mat-button routerLink="artikli">Artikli</a>
</div>


   
   </mat-toolbar>
   
